@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face{
    font-family: 'star-jedi';
    src:url("../fonts/Starjout.ttf") format('truetype');
}

body {
    font-family: 'Days One', sans-serif;
}

.font-jedi{
    font-family: 'star-jedi';
}

.green{
    color: #33a02b;
}

.bg-green{
    background-color:#33a02b ;
}

.bg-star{
    background-image: url("../images/bg-star.jpg");
    background-size: cover ;
    height: 100vh;
}

#welcome-left{
    text-align: center;
}

.gift-card {
    border-color:#33a02b;
}

#welcome-right{
    background-image: url("../images/quigon.jpg");
    background-size: cover ;
}
.text-green{
    color:#33a02b;
}

.btn:active {
    transform: scale(0.8);
}

/* Pour corriger les puces qui se desactivent à cause du reset.css de Tailwind */

ul>li {
    list-style-type: disc;
    margin-left: 1em;
}

ol>li {
    list-style-type: decimal;
    margin-left: 1em;
}

