<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MerciLesProfs !{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        {% block body %}

          <div class="min-h-screen">

            <header class="fixed w-screen h-14 text-center flex justify-end place-items-center bg-gray-900 body-font text-gray-600">
              <a class="h-8 py-1 px-3 mr-2 flex justify-center place-items-center bg-green text-white hover:bg-gray-200 rounded text-base " href="{{ path('app_login') }}">Se connecter</a>
            </header>
  
            <main class="min-h-screen flex flex-col pt-14">
              {% block main %}
              {% endblock %}
            </main>

          </div>

        {% endblock %}
    </body>
</html>
